.cont {
    margin: 2.5em auto;
    width: 80%;
    border: 2px solid dodgerblue;
    background-color: seashell;
    border-radius: 5px;
}

.title {
    padding: 0.5em 1.5em;
}

.wrapper {
    margin: 2em;
}

.badge {
    margin: 0.5em 1em;
}

.mini-data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 5em;
}

.text {
    margin: 0.5em;
    padding: 1em;
    border: 1px solid dodgerblue;
    border-radius: 2px;
}

.tags {
    margin: 1em auto;
}

.der {
    text-align: right;
    width: fit-content;
    margin: auto 0 auto auto;
}

.center {
    margin: 0 auto;
    display: block;
}

iframe {
    width: 80%;
    height: 20em;
    margin: 1em auto;
    display: block;
}

.form-group {
    vertical-align: middle;
    display: flex;
    flex-direction: row;
}

.numbers {
    overflow-x: auto;
}