<div class="container">
    <div class="form-group">
        <h1 class="title text-primary">Crear una revista</h1>
    </div>
    <form (ngSubmit)="subirRevista()" [formGroup]="formRevista">

        <!-- Nombre de usuario del editor -->
        <div class="form-group invisible">
            <input id="editor" class="form-control" type="text" [value]="user.username" formControlName="editor"
                required>
        </div>

        <!-- Input de nombre de la revista -->
        <div class="form-group">
            <label for="name" class="text-info req">Nombre de la revista</label>
            <input id="name" [ngClass]="inputs(this.formRevista.controls.nombre)" type="text" formControlName="nombre"
                required>
        </div>

        <!-- Input de descripcion -->
        <div class="form-group">
            <label for="desc" class="text-info">Descripcion de la revista</label>
            <textarea formControlName="descripcion" [ngClass]="inputs(this.formRevista.controls.descripcion)" id="desc"
                rows="3" maxlength="150"></textarea>
        </div>

        <!-- Input de fecha -->
        <div class="form-group">
            <label for="fecha" class="text-info req">Fecha de publicacion</label>
            <input id="fecha" [ngClass]="inputs(this.formRevista.controls.fechaPublicacion)" type="date"
                formControlName="fechaPublicacion">
        </div>

        <!-- Input de categoria -->
        <div class="form-group">
            <label for="cate" class="text-info req">Categoria de la revista</label>
            <select [ngClass]="selects(this.formRevista.controls.categoria)" formControlName="categoria">
                <option [value]="null" disabled selected>Selecciones una categoria</option>
                <option [ngClass]="selects(this.formRevista.controls.categoria)" *ngFor="let opt of categorias"
                    [value]="opt">{{ opt }}</option>
            </select>
        </div>

        <!-- Input de categoria -->
        <div class="form-group">
            <label for="coste" class="text-info req">Coste Mensual</label>
            <input id="coste" [ngClass]="inputs(this.formRevista.controls.costeMes)" type="number"
                formControlName="costeMes">
        </div>

        <!-- Boton de submit -->
        <div class="center">
            <button [ngClass]="button(formRevista)" [disabled]="formRevista.invalid" type="submit">Publicar
                Revista</button>
        </div>

    </form>
    <app-etiquetas-select (tagsChanges)="changeTags($event)" [seleccionar]="true" [nueva]="true">
    </app-etiquetas-select>
    <app-numero-form [user]="user" [revista]="revista" [ngClass]="num"></app-numero-form>
</div>