@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto+Slab&display=swap');

.title {
    letter-spacing: 1px;
    font-weight: bolder;
    font-family: 'Roboto Slab', sans-serif;
}

body {
    font-family: 'JetBrains Mono', sans-serif;
    background-color: lightcyan;
}

.req:after {
    content: " *";
    color: red;
}

.container {
    margin: 2em auto;
    width: 70%;
    min-width: 40em;
    border: 2px solid dodgerblue;
    background-color: seashell;
    border-radius: 5px;
    padding: 1em 2em 1.5em;
}
