<div class="container">
    <div class="bg-primary">
        <h1 class="title text-white">Crear Cuenta</h1>
    </div>
    <form (ngSubmit)="crearCuenta()" [formGroup]="formSignUp">

        <!-- Input de nombre de usuario -->
        <div class="form-group">
            <label for="user" class="text-info req">Nombre de usuario</label>
            <input id="user" [ngClass]="getClasses(this.formSignUp.controls.username)" type="text"
                formControlName="username" required>
        </div>

        <!-- Input de contraseña -->
        <div class="form-group">
            <label for="pass" class="text-info req">Contraseña</label>
            <input id="pass" [ngClass]="getClasses(this.formSignUp.controls.password)" type="password"
                formControlName="password" required>
        </div>

        <!-- Input de nombre completo -->
        <div class="form-group">
            <label for="name" class="text-info">Nombre Completo</label>
            <input id="name" [ngClass]="getClasses(this.formSignUp.controls.nombre)" type="text"
                formControlName="nombre">
        </div>

        <!-- Input de descripcion -->
        <div class="form-group">
            <label for="desc" class="text-info">Descripcion</label>
            <textarea id="desc" [ngClass]="getClasses(this.formSignUp.controls.descripcion)" rows="3"
                formControlName="descripcion"></textarea>
        </div>

        <!-- Input de gustos -->
        <div class="form-group">
            <label for="gustos" class="text-info">Gustos</label>
            <textarea id="gustos" [ngClass]="getClasses(this.formSignUp.controls.gustos)" rows="3"
                formControlName="gustos"></textarea>
        </div>

        <!-- Input de hobbies -->
        <div class="form-group">
            <label for="hobb" class="text-info">Hobbies</label>
            <textarea id="hobb" [ngClass]="getClasses(this.formSignUp.controls.hobbies)" rows="3"
                formControlName="hobbies"></textarea>
        </div>

        <!-- Input de foto -->
        <div class="form-group">
            <label for="foto" class="text-info">Foto de Perfil</label>
            <input id="foto" [ngClass]="getClasses(this.formSignUp.controls.foto)" type="file" formControlName="foto">
        </div>

        <!-- Input de tipo -->
        <div class="form-group">
            <label for="tipo" class="text-info">Tipo de Usuario</label><br>
            <select class="form-select" formControlName="tipo" required>
                <option selected [ngValue]="null" disabled="disabled">Seleccionar opcion</option>
                <option *ngFor="let opt of options | keyvalue" [ngValue]="opt.value">{{ opt.key }}</option>
            </select>
        </div>

        <!-- Boton de submit -->
        <div class="center">
            <button [ngClass]="getButtonClasses()" [disabled]="formSignUp.invalid">Crear Cuenta</button>
            
            <!-- Boton de crear cuenta -->
            <a class="to-right" routerLink="/login">-> Ya tengo cuenta</a>
        </div>

    </form>
</div>