.form-group {
    display: flex;
    flex-direction: row;
}

.cont {
    margin: 3em auto;
    width: 80%;
}

.form-group > button {
    width: fit-content;
    padding: 0.4em 2em;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.form-group > input {
    width: 100%;
    padding: 0.6em;
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px 0 0 3px;
}